h1 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #ebebeb;
  background: #1c1c1c;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #1c1c1c;
}

.background {
  background-color: lightblue;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 0.5em;
}

.background:hover {
  background-color: #1c1c1c;
  transition: color 1000ms ease, background-color 500ms ease;
  color: lightblue;
}
