h1 {
  font-size: 32px;
}

.links {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 20px;
  color: #1c1c1c;
  text-decoration: none;
}

.project {
  background-color: lightblue;
  width: 150px;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
}

.project:hover {
  background-color: rgb(98, 165, 219);
  transition: background-color 400ms ease;
}
