body {
    background-color: rgb(46, 70, 89);
}

h1 {
    color: #fff;
    font-size: 100px;
}

p {
    font-size: 20px;
    color: #fff;
}

a:visited {
    color: rgb(156, 211, 235);
}

a {
    color: #fff;
}