:root {
  font-size: 21px;
}

h1 {
  font-family: Workbench;
}

@font-face {
  font-family: Workbench;
  src: local(Workbench), url(Workbench-Regular.woff2) format(WOFF2);
  font-style: normal;
  font-weight: normal;
}
